<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Admin - Employee Recognition</title>

		<link href="styles/admin.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="admin">
			<div class="background"></div>
			
			<header>
				<h1>Employee Recognition</h1>
				<div class="auth">
					<img class="userProfilePhoto"
					/><a href="logout">Log out</a>
				</div>
				<nav>
					<a class="add" href="add">Recognize someone</a
					><a class="dashboard" href="dashboard">Dashboard</a
					><a class="admin active" href="admin">Admin</a>
				</nav>
			</header>

			<div class="approvalsHeader">
				<h2>
					Approvals
					<span class="pendingCount" title="Number of pending approvals"></span>
				</h2>

				<a href="api/accolades/accolades.csv" class="downloadReport" title="A spreadsheet of people who have received recognitions in the past month">Download CSV</a>
			</div>

			<div class="accolades">
				
			</div>
		</div>

		<script src="scripts/thirdparty/jquery.js"></script>
		<script src="scripts/thirdparty/lodash.js"></script>
		<script src="scripts/thirdparty/backbone.js"></script>
		<script src="scripts/thirdparty/moment.js"></script>
		<script src="scripts/common/data.js"></script>
		<script src="scripts/admin/AdminAccoladeListView.js"></script>
		<script src="scripts/admin/AdminAccoladeListItemView.js"></script>
		<script src="scripts/admin/admin.js"></script>
		<script>
			(function(){
				var Accolades = window.Accolades = window.Accolades || {};
				Accolades.config = {{{ json config }}};
				Accolades.toastMessage = {{{ json toastMessage }}};
				Accolades.user = {{{ json user }}};
				Accolades.admin = new Admin($('.admin'));
			})();
		</script>
	</body>
</html>