<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Employee Recognition</title>

		<link href="styles/dashboard.css" rel="stylesheet" type="text/css" />
	</head>

	<body>

		<div class="dashboard">
			<header>
				<h1>Great job on that thing you did</h1>
				<h2>Really super.</h2>
			</header>

			<div class="accolades">

			</div>

			<div class="pagination">

			</div>
		</div>

		<script src="scripts/thirdparty/jquery.js"></script>
		<script src="scripts/thirdparty/lodash.js"></script>
		<script src="scripts/thirdparty/backbone.js"></script>
		<script src="scripts/thirdparty/moment.js"></script>
		<script src="scripts/common/data.js"></script>
		<script src="scripts/dashboard/DashbaordAccoladeListView.js"></script>
		<script src="scripts/dashboard/DashbaordAccoladeListItemView.js"></script>
		<script src="scripts/dashboard/dashboard.js"></script>
		<script>
			var config = {{{config}}};
			new Dashboard($('.dashboard'));
		</script>
	</body>
</html>