<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Employee Recognition</title>

		<link href="styles/dashboard.css" rel="stylesheet" type="text/css" />
		<link href="favicon.ico" rel="shortcut icon" />
	</head>

	<body>

		<div class="dashboard">
			<header>
				<h1>Great job on that thing you did</h1>
				<h2>Really super.</h2>
			</header>

			<div class="accolades">

			</div>

			<div class="pagination">

			</div>
		</div>


		<script>
			window.setTimeout(function(){
				window.location.reload(true);
			}, 5*60*1000);
		</script>
		<script src="scripts/thirdparty/jquery.js"></script>
		<script src="scripts/thirdparty/lodash.js"></script>
		<script src="scripts/thirdparty/backbone.js"></script>
		<script src="scripts/thirdparty/moment.js"></script>
		<script src="scripts/thirdparty/socket.io.js"></script>
		<script src="scripts/common/data.js"></script>
		<script src="scripts/dashboard/DashboardAccoladeListView.js"></script>
		<script src="scripts/dashboard/DashboardAccoladeListItemView.js"></script>
		<script src="scripts/dashboard/dashboard.js"></script>
		<script>
			(function(){
				var Accolades = window.Accolades = window.Accolades || {};
				Accolades.config = {{{ json config }}};
				Accolades.toastMessage = {{{ json toastMessage }}};
				Accolades.dashboard = new Dashboard($('.dashboard'));
			})();
		</script>
	</body>
</html>